.header {
  margin:0;
  .div_header {
    background-color: #d1cfcf;
    height: 64px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 24px;
    //max-width: calc(100% - 30px);
    margin: 0 auto;
  }

  .div_logo {
    > img {
      width: 120px;
    }
  }
}